.change_password_page {
  height: 100vh;
  overflow: auto;
  background-image: url('../../../assets/images/login-background.jpg');
  background-size: cover;
  text-align: center;
  .login-card {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    font-family: "Armenian Garamond";
    p {
      font-size: 18px;
    }
    background-color: white;
    width: 30%;
    min-width: 350px;
    text-align: center;
    padding: 10px;
    mat-card-title {
      margin-right: auto;
      text-align: center;
    }
    .form-container {
      text-align: center;
      mat-form-field {
        font-size: 16px;
        width: 60%;
        input {
          height: 27px;
        }
      }
    }
    mat-card-actions {
      button {
        margin-bottom: 5px;
      }
    }
  }
}
