<div class="forgot-password_page">
  <mat-card class="login-card">

    <mat-card-title>Վերականգնել Գաղտնաբառը</mat-card-title>
    <mat-card-subtitle>Մուտքագրեք Ձեր Էլ․ հասցեն և մենք կուղարկենք Ձեզ նամակ նոր գաղտնաբառ ստեղծելու համար</mat-card-subtitle>
    <mat-card-content>
      <form>
        <div class="form-container">
          <td-message *ngIf="errorMessage" [label]="errorMessage" color="warn" icon="error"></td-message>

          <mat-form-field>
            <input matInput placeholder="Էլեկտրոնային փոստի հասցե" #email [formControl]="emailControl"
                   [errorStateMatcher]="matcher" maxlength="256">

            <mat-hint align="end">{{email.value.length}} / 256</mat-hint>

            <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
              Խնդրում ենք մուտքագրել ճիշտ հասցե
            </mat-error>
            <mat-error *ngIf="emailControl.hasError('required')">
              <strong>Պարտադիր</strong> է լրացման համար
            </mat-error>

          </mat-form-field>

          <mat-card-actions>
            <button mat-raised-button color="primary" fxLayoutAlign="space-between center" (click)="forgotPassword()">
              Ուղարկել
            </button>
          </mat-card-actions>

        </div>
      </form>
    </mat-card-content>

  </mat-card>
</div>
