/deep/ {
  span.ng-star-inserted {
    cursor: pointer !important;
  }
}

footer {
  background-color: #191919;
}

/deep/.mat-icon-logo {
  height: 77px !important;
  width: 92px !important;
}

.header-login {
	width:93%;
 	text-align:right;
}


@media screen and (max-width: 500px) {
  .header-login a {
    margin:0 -17px !important;
    font-size:12px;
  }
}

@media screen and (max-width: 390px) {
  
}