/deep/ {
  span.ng-star-inserted {
    cursor: pointer !important;
  }
}

footer {
  background-color: #191919;
}

/deep/.mat-icon-logo {
  height: 77px !important;
  width: 92px !important;
}

.header-rigth {
  width: 90%;
  text-align: right;
}