.dashboard-page {
  padding: 10px;

  .approve-button {
    background-color: #3dc555;
    border-color: #3dc555;
  }

  .reject-button {
    background-color: #f70f0f;
    border-color: #f70f0f;
  }
}
