<div class="terms-and-conditions-page">
  <mat-card>
    <mat-card-title>
      Պայմաններ
    </mat-card-title>
    <mat-card-subtitle>
      Վարկային հայտ ներկայացնելու դեպքում Դուք տալիս եք Ձեր համաձայնությունը, որ.
    </mat-card-subtitle>
    <ul>
      <mat-list role="list">
        <li>“ՅՈՒ ԴՐԱՄ” ՍՊԸ-ի կողմից կատարվի ուսումնասիրություն:</li>
        <li>
          Դուք հավաստում եք, որ սույն համաձայնությունը Ձեր համար ամբողջությամբ ու ընդունելի է և գիտակցում եք, որ տրամադրված տեղեկությունները և տվյալները,
          կախված դրանց բովանդակությունից, կարող են ազդել “ՅՈՒ ԴՐԱՄ” ՍՊԸ-ի կողմից կայացված համապատասխան որոշման վրա:
        </li>
        <li>
          “ՅՈՒ ԴՐԱՄ” ՍՊԸ-ն, Ձեր կողմից տրամադրված էլեկտրոնային հասցեին և/կամ բջջային հեռախոսահամարին` էլեկտրոնային նամակի և/կամ SMS հաղորդագրության
          միջոցով տրամադրի ցանկացած տեղեկատվություն առաջարկվող պրոդուկտների և ծառայությունների վերաբերյալ:
        </li>
      </mat-list>
    </ul>
  </mat-card>
</div>
