

.image {
  font-family: "Armenian Garamond";
  background-image: url("../../../assets/images/main-4.jpg");
  background-size: cover;
  //background-repeat: no-repeat;
  background-position:center;
  height: 700px;
  margin-top: -35px;
}

.floating-content {
  .center-button {
    color: white;
    border-radius: 4%;
  }
  text-align: center;
  padding-top: 155px;
}

.floating-text {
  text-align: center;
  h1 {
    font-size: 50px;
  }
  font-size: 32px;
  background: transparent;
  padding-top: 55px;
}

.description-block {
  margin: auto;
  margin-top: 0px;
  width: 60%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  margin-bottom: 5px;
}

.description-block ul li {
  margin: 10px 0;
}

.cases-block {
  margin:0 auto !important;
  width: 80%;
  margin-top: 30px;
  mat-card {
    width: 40%;
    display: inline-block;
    margin-bottom: 15px;
  }
}

.action-button-container {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 70px;
  width: 78%;
  .action-button {
    width: 50%;
    height: 40px;
    color: white;
  }
}

.centered-info {
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: -30px;
  width: 78%;
  .info-block-end {
    margin-right: 0px !important;
  }
  .information-block {
    width: 240px;
    height: 240px;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    padding: 1%;
    text-align: center;
    margin-bottom: 20px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    transition: all 0.7s ease-out;
    .info-content {
      span {
        display: block;
      }
      img {
        height: 150px;
      }
    }
  }

  //.information-block:hover {
  //  box-shadow: 0 10px 25px 0px rgba(0,0,0,0.6);
  //  background-color: #FBA332;
  //}

  @media screen and (max-width: 500px) {
    .centered-info {
      width: auto;
    }
  }
}



footer {
  background-color: #263238;
  box-shadow: 5px 10px 10px 10px #888888;
  .footer-center {
    ul {
      list-style: none;
    }
    margin: auto;
    width: 78%;
    .footer-block {
      min-height: 70px;
      padding: 10px;
      text-align: center;
      width: 30%;
      display: inline-block;
      color: white;
      .footer-block-title {
        font-size: 24px;
        text-align: center;
      }
      .footer-logo {
        height: 133px;
        background-image: url("../../../assets/images/Spitak.png");
        background-repeat: no-repeat;
        background-position: center !important;
      }
    }
    font-family: "Armenian Garamond";
  }
}



@media only screen and (max-width: 1024px) {
  .centered-info {
    width: 97%;
  }  
}

@media only screen and (max-width: 826px) {
  .centered-info img{
      height: 120px !important;
  }
  .information-block {
    width: 200px !important;
    height: 200px !important;
  }
}

@media only screen and (max-width: 696px) {
   .information-block {
    width: 180px !important;
  }
  .centered-info img{
    height: 110px !important;
  }
}

@media only screen and (max-width: 630px) {
  .information-block {
   width: 150px !important;
   height: 170px !important;
 }
 .centered-info img{
   height: 100px !important;
 }
}



@media only screen and (max-width: 930px) {
  .cases-block {
    text-align:center;
  }
}


@media only screen and (max-width: 800px) {
    .mat-card {
        width: 75%;
    }
}

@media only screen and (max-width: 660px) {
  .cases-block mat-card {
    width: 75%;
  }
  .description-block {
    width: 88%;
  }
}


@media screen and (max-width: 541px) {
  
  .description-block {
    margin-top: 100px;
  }
}


@media screen and (max-width: 500px) {
  .footer-block {
    width: 200px !important;
    .footer-logo {
      background-position: 0% 0% !important;
    }
    
  }
  .cases-block {
    width: 80%;
    mat-card {
      width: auto;
    }
  }
}




@media only screen and (max-width: 499px) {
    .footer-center {
        text-align:center;
    }
    .footer-block ul{
      padding-left: 17px !important;
    }
    .image {
      background-size: 272%;
      background-position: 53%;
    }
}

@media only screen and (max-width: 888px) {
    
.footer-block-logo {
  width:50% !important;
}
 .footer-center {
 width:95% !important;
 }
}


@media only screen and (max-width: 360px) {
   .footer-logo {
    background-size:100%;
   }
   .floating-text img {
     width: 270px !important;
     height: 120px;
   }
   .image {
    background-size: 292%;
  }
  .floating-text {
    font-size: 27px;
  }
  .description-block ul {
    padding-left: 4px;
  }
}

@media only screen and (max-width: 320px) {
  .image {
    height: 547px;
 }
}


mat-card {
  min-height: 317px !important;
  .bold-text {
    font-weight: bolder;
    font-size: 15px;
  }
}

.center {
  text-align: center !important;
}