<div class="image">

  <div class="floating-text">
    <h1><img src="../../../assets/images/main-logo.png" width="337" height="152"/></h1>
    <span>Վարկային օգնական</span>
    <br>
    <span>Մեզ հետ մատչելի է և արագ</span>
  </div>

  <div class="floating-content">
    <button mat-raised-button color="accent" class="center-button"
            [routerLink]="isAuth ? ['/profile'] : ['/registration']">
      {{ isAuth ? 'Դիտել հայտը' : 'Թողնել հայտ' }}
    </button>
  </div>

</div>

<div>

  <div class="centered-info">
    <div class="information-block">
      <div class="info-content">
        <img src="../../../assets/images/shield.png"/>
        <span>Տվյալների անվտանգություն</span>
      </div>
    </div>

    <div class="information-block">
      <div class="info-content">
        <div class="img-container">
          <img src="../../../assets/images/fast.png"/>
        </div>
        <span>Արագ սպասարկում</span>
      </div>
    </div>


    <div class="information-block">
      <div class="info-content">
        <img src="../../../assets/images/price.png"/>
        <span>Մատչելի պայմաններ</span>
      </div>
    </div>

    <div class="information-block">
      <div class="info-content">
        <img src="../../../assets/images/advice.png"/>
        <span>Լավագույն խորհդատվություն</span>
      </div>
    </div>

    <div class="information-block info-block-end">
      <div class="info-content">
        <img src="../../../assets/images/cap.png"/>
        <span>Անհատական մոտեցում</span>
      </div>
    </div>
  </div>

  <div class="description-block">
    "ՅՈՒ ԴՐԱՄ"  ընկերության Նպատակն Է`
    <ul>
      <li>
        Մատուցել բարձրորակ վարկային և խորհրդատվական ծառայություններ, գրավել կայուն և առաջնային դիրքեր վարկավորման շուկայում` ընձեռելով հաճախորդներին հնարավորություն բարելավել իրենց կյանքը:
      </li>
      <li>
        Առաջնակարգ ծառայությունների և որակյալ սպասարկման շնորհիվ հասնել հաճախորդների առավելագույն բավարարվածությանը:
      </li>
      <li>
        Լինել հասանելի, վստահելի և կայուն օգնական հասարակության բոլոր խավերի համար:
      </li>
    </ul>
  </div>

  <div class="center">
    <div class="cases-block">

      <mat-card>
        <img mat-card-image src="../../../assets/images/history.jpg">
        <mat-card-content>
          <p>
            “Յու դրամ” ՍՊԸ միջնորդ կազմակերպության աջակցությամբ ստեղծվում է վարկային պատմություն <span class="bold-text">1-3 </span> աշխատանքային օրերի ընթացքում:
          </p>
        </mat-card-content>
      </mat-card>
  
      <mat-card>
        <img mat-card-image src="../../../assets/images/description.jpg">
        <mat-card-content>
          <p>
            Միայն անձնագրի, և սոցիալական քարտի միջոցով ֆիզիկական անձանց կօգնենք ստանալ գումար <span class="bold-text">300.000 – 3.000.000</span> ՀՀ դրամ:
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <img mat-card-image src="../../../assets/images/dahk.jpg">
        <mat-card-content>
          <p>
            ԴԱՀԿ(հարկադիր) ունեցող անձանց <span class="bold-text">կաջակցենք ստանալ վարկ </span>լավ վարկային պատմություն ունենալու կամ ընդհանրապես չունենալու դեպքում: <br/> &nbsp;
          </p>
        </mat-card-content>
      </mat-card>
  
      <mat-card>
        <img mat-card-image src="../../../assets/images/appliances.jpg">
        <mat-card-content>
          <p>
            “Յու դրամ” ՍՊԸ կազմակերպությունը նաև <span class="bold-text">բարձր գներով </span>գնում է նոր և օգտագործված կենցաղային տեխնիկա (սառնարան, լվացքի մեքենա, հեռուստացույց, գազօջախ, բջջային հեռախոսներ և այլն):
          </p>
        </mat-card-content>
      </mat-card>

  </div>
  </div>

  <div class="centered-info">
    <div class="information-block">
      <div class="info-content">
        <img src="../../../assets/images/1.png"/>
        <span>Գրանցվում և ուղարկում եք հայտը</span>
      </div>
    </div>

    <div class="information-block">
      <div class="info-content">
        <div class="img-container">
          <img src="../../../assets/images/2.png"/>
        </div>
        <span>Ձեր հայտը ուսումնասիրվում է UDram-ի մասնագետների կողմից</span>
      </div>
    </div>


    <div class="information-block">
      <div class="info-content">
        <img src="../../../assets/images/3.png"/>
        <span>Ձեր հայտը հաստատավելու դեպքում ստանում եք ծանուցում</span>
      </div>
    </div>

    <div class="information-block">
      <div class="info-content">
        <img src="../../../assets/images/4.png"/>
        <span>UDram-ի մասնագետի հետ այցելում եք բանկ</span>
      </div>
    </div>

    <div class="information-block info-block-end">
      <div class="info-content">
        <img src="../../../assets/images/5.png"/>
        <span>Ստանում եք գումար</span>
      </div>
    </div>
  </div>

  <div class="action-button-container">
    <button mat-raised-button color="accent" class="action-button"
            [routerLink]="['/registration']" *ngIf="!isAuth">
      Թողնել հայտ
    </button>
  </div>


  <footer>
    <div class="footer-center">

      <div class="footer-block">
        <span class="footer-block-title">Կոնտակտներ</span>

        <ul class="ul-footer">
          <li>094 77 68 77</li>
          <li>094 33 66 11</li>
          <li>094 77 51 77</li>
          <li>041 99 92 29</li>
        </ul>
        
        <span>
          Էլ․ հասցե՝
          <a href="mailto:info@udram.am">info@udram.am</a>
        </span>
      </div>

      <div class="footer-block footer-block-logo">
        <div class="footer-logo"></div>
      </div>

      <div class="footer-block">
        <span class="footer-block-title">&nbsp;&nbsp;&nbsp;&nbsp;Հասցե</span>
        <ul>
          <li>ք․ Երևան</li>
          <li>Դավիթաշեն, 3 թաղ, 19/3 (ավտոպարկ)</li>
          <li> &nbsp;</li>
        </ul>
        <span>
          &nbsp;
          <a>&nbsp;</a>
        </span>
      </div>

    </div>

  </footer>

</div>


