<div class="registration_page">

  <mat-card class="main-card">

    <td-steps [mode]="smallScreen ? 'vertical': 'horizontal'">

      <td-step #step1 label="Անձնական տվյալներ" sublabel="Տեղեկություն Ձեր մասին" active="true">

        <app-personal [form]="form.controls['personal']"></app-personal>

        <ng-template td-step-actions>
          <button mat-raised-button color="accent" (click)="step2.active = true" class="action-button"
                  fxLayoutAlign="space-between left" [disabled]="form.controls['personal'].invalid">
            Հաջորդ <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </ng-template>
      </td-step>

      <td-step #step2 label="Նույնականացման տվյալներ" sublabel="Կայք մուտք գործելու համար անհրաժեշտ տվյալներ"
               [disabled]="form.controls['personal'].invalid" disableRipple>

        <app-identification [form]="form.controls['identification']" (typeOfIdentificationChanged)="onIdentificationTypeChange($event)"></app-identification>

        <ng-template td-step-actions>
          <button mat-button (click)="step1.active = true" class="text-upper">
            <mat-icon>keyboard_arrow_left</mat-icon>Հետ
          </button>
          <button mat-raised-button color="accent" (click)="step3.active = true"
                  class="text-upper" [disabled]="form.controls['identification'].invalid">
            Հաջորդ<mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </ng-template>
      </td-step>

      <td-step #step3 label="Մուտքային տվյալներ" sublabel="Կայք մուտք գործելու համար անհրաժեշտ տվյալներ"
               [disabled]="form.controls['personal'].invalid || form.controls['identification'].invalid" disableRipple>

        <app-auth [form]="form.controls['auth']"></app-auth>

        <ng-template td-step-actions>
          <button mat-button (click)="step2.active = true" class="text-upper">
            <mat-icon>keyboard_arrow_left</mat-icon>Հետ
          </button>
          <button mat-raised-button color="accent" (click)="step4.active = true"
                  class="text-upper" [disabled]="form.controls['auth'].invalid">
            Հաջորդ<mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </ng-template>
      </td-step>

      <td-step #step4 label="Լրացուցիչ տվյալներ" sublabel="Պարտադիր չեն լրացման համար"
               [disabled]="form.controls['personal'].invalid || form.controls['identification'].invalid || form.controls['auth'].invalid">


        <p class="not-required-notice">Պարտադիր չէ լրացման համար</p>
        <app-additional [form]="form.controls['additional']"></app-additional>

        <ng-template td-step-actions>
          <button mat-button (click)="step3.active = true" class="text-upper">
            <mat-icon>keyboard_arrow_left</mat-icon>Հետ
          </button>
          <button mat-raised-button color="accent" (click)="step5.active = true" class="text-upper">
            Հաջորդ<mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </ng-template>
      </td-step>

      <td-step #step5 label="Հայտ" sublabel="Ձեզ անհրաժեշտ ծառայությունները"
               [disabled]="form.controls['personal'].invalid || form.controls['identification'].invalid || form.controls['auth'].invalid">

        <app-request [form]="form.controls['request']"></app-request>

        <ng-template td-step-actions>
          <button mat-button (click)="step4.active = true" class="text-upper">
            <mat-icon>keyboard_arrow_left</mat-icon>Հետ
          </button>
          <button mat-raised-button color="accent" (click)="step6.active = true" class="text-upper" [disabled]="form.controls['request'].invalid">
            Հաջորդ<mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </ng-template>
      </td-step>

      <td-step #step6 label="Պայմաններ"
               [disabled]="form.controls['personal'].invalid || form.controls['identification'].invalid || form.controls['auth'].invalid">

        <app-terms [hasAgreedToTerms]="form.controls['hasAgreedToTerms']"></app-terms>

        <ng-template td-step-actions>
          <button mat-raised-button color="accent" (click)="onSubmit()" class="text-upper"
                  fxLayoutAlign="space-between center" [disabled]="form.controls['hasAgreedToTerms'].invalid">Հաջորդ</button>
        </ng-template>
      </td-step>

    </td-steps>

  </mat-card>

</div>
