.registration_page {
  background-image: url('../../../assets/images/registration-background.jpg');
  height: 100vh;
  overflow: auto;
  background-size: cover;
  .main-card {
    /deep/ .td-step-content{
      overflow-x: visible !important;
    }
    font-family: "Armenian Garamond";
    margin: auto;
    margin-top: 3%;
    width: 80%;
    /deep/ mat-form-field {
      width: 600px;
      margin-right: 100px;
      margin-bottom: 15px;
      clear: right;
    }
    .not-required-notice {
      color: red;
      font-size: 21px;
    }
  }

}


.mat-card {
width:90% !important;
}
