<mat-form-field>
  <input matInput placeholder="Էլեկտրոնային փոստի հասցե" #email [formControl]="form.controls['email']"
         [errorStateMatcher]="matcher" maxlength="256">

  <mat-hint align="end">{{email.value.length}} / 256</mat-hint>

  <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
    Խնդրում ենք մուտքագրել ճիշտ հասցե
  </mat-error>

  <mat-error *ngIf="form.controls['email'].hasError('required')">
    <strong>Պարտադիր</strong> է լրացման համար
  </mat-error>

  <mat-error *ngIf="form.controls['email'].hasError('emailTaken')">
    Մուտքագրված հասցեն արդեն զբաղված է
  </mat-error>

</mat-form-field>

<mat-form-field>
  <input matInput type="password" placeholder="Գաղտնաբառ" #password [formControl]="form.controls['password']"
         [errorStateMatcher]="matcher" maxlength="20">

  <mat-hint align="end">{{password.value.length}} / 20</mat-hint>

  <mat-error *ngIf="form.controls['password'].hasError('required')">
    <strong>Պարտադիր</strong> է լրացման համար
  </mat-error>

  <mat-error *ngIf="form.controls['password'].hasError('pattern')">
    Գաղտնաբառը պետք է պարունակի <strong>և տառեր, և թվեր</strong>
  </mat-error>

  <mat-error *ngIf="form.controls['password'].hasError('minlength')">
    Պետք է պարունակի առնվազն<strong>8 սիմվոլ</strong>
  </mat-error>

</mat-form-field>

<mat-form-field>
  <input matInput type="password" placeholder="Կրկնեք Գաղտնաբառը" #confirmPassword [formControl]="form.controls['confirmPassword']"
         [errorStateMatcher]="matcher" maxlength="20">

  <mat-hint align="end">{{confirmPassword.value.length}} / 20</mat-hint>

  <mat-error *ngIf="form.controls['confirmPassword'].hasError('required')">
    <strong>Պարտադիր</strong> է լրացման համար
  </mat-error>

  <mat-error *ngIf="form.controls['confirmPassword'].hasError('pattern')">
    Գաղտնաբառը պետք է պարունակի <strong>և տառեր, և թվեր</strong>
  </mat-error>

  <mat-error *ngIf="form.controls['confirmPassword'].hasError('minlength')">
    Պետք է պարունակի առնվազն<strong>8 սիմվոլ</strong>
  </mat-error>

</mat-form-field>

<mat-error
  *ngIf="form.hasError('passwordsDontMatch') && form.controls['password'].touched && form.controls['password'].touched && form.controls['confirmPassword'].value && form.controls['confirmPassword'].value ">
  Գաղտնաբառերը չեն համապատասխանում
</mat-error>
