<mat-form-field>
  <input matInput placeholder="Անուն" #firstName [formControl]="form.controls['firstName']"
         [errorStateMatcher]="matcher" maxlength="50">

  <mat-hint align="end">{{firstName.value.length}} / 50</mat-hint>

  <mat-error *ngIf="form.controls['firstName'].hasError('required')">
    <strong>Պարտադիր</strong> է լրացման համար
  </mat-error>

</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Ազգանուն" #lastName [formControl]="form.controls['lastName']"
         [errorStateMatcher]="matcher" maxlength="50">

  <mat-hint align="end">{{lastName.value.length}} / 50</mat-hint>

  <mat-error *ngIf="form.controls['lastName'].hasError('required')">
    <strong>Պարտադիր</strong> է լրացման համար
  </mat-error>

</mat-form-field>

<app-date-selector [formControl]="form.controls['dateOfBirth']" placeholder="Ծննդյան Տարեթիվ"></app-date-selector>

<mat-form-field>
  <input matInput placeholder="Սոցիալական քարտի համար" #ssn [formControl]="form.controls['ssn']"
         [errorStateMatcher]="matcher" maxlength="10">

  <mat-hint align="end">{{ssn.value.length}} / 10</mat-hint>

  <mat-error *ngIf="form.controls['ssn'].hasError('required')">
    <strong>Պարտադիր</strong> է լրացման համար
  </mat-error>

  <mat-error *ngIf="form.controls['ssn'].hasError('pattern')">
    Պետք է պարունակի <strong>միայն թվեր</strong>
  </mat-error>

  <mat-error *ngIf="form.controls['ssn'].hasError('minlength')">
    Պետք է պարունակի <strong>10 թիվ</strong>
  </mat-error>

</mat-form-field>

<br/>

<mat-radio-group [formControl]="form.controls['gender']">
  <span class="g-container">Սեռ</span>
  <mat-radio-button value="1" [checked]="!form.controls['gender'].value ? true : form.controls['gender'].value == 1">Արական</mat-radio-button>
  <mat-radio-button value="2" [checked]="!form.controls['gender'].value ? form.controls['gender'].value == 2 : false">Իգական</mat-radio-button>
</mat-radio-group>
